
.container {
    margin-top: 100px;
    display: flex !important;
    flex-direction: row-reverse!important;
    justify-content: center;
    align-items: center; 
    margin-left: 100px;
}

label {
    font-size: 16px;
    margin-right: 40vh;
}

/* .form-select{
    font-size: 10px!important;
    width: 400px;
} */
