.container {
  margin-top: 100px;
}

form .center {
  display: flex;
  justify-content: center;
}

.form-select option:disabled {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row .searching-agent {
  background-color: #04ac14;
  border: none;
  font-size: 16px;
  margin: 40px auto 0;
  padding: 6px 12px;
}
