*{
    font-family: sans-serif;
}

.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-top: 70px;

}

.input{
    margin:80px 40px 40px 40px;

}
.Row{
    margin:20px 0px;
}
.alamat{
    margin:20px 0px;
}

.submit{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}
.Row .submit .mb-2{
    padding: 10px 40px;
    font-size: 16px;
    
}