  
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* .outer-home {
    text-align: center;
} */

.inner-home {
    width:500px;
    height: 310px;
    margin: auto;
    margin-top: 100px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 20px 40px 70px;
    border-radius: 15px;
    transition: all .3s;
    display: flex;
    justify-content: center;
}

/* Row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

} */

.inner-home p{
    font-size: 14px;
}

.status {
    text-align: center;
    font-size: 24px;
}

/* .Batalkan{
    margin: 30px 0px;
} */

/* Button{
    font-weight: bold;
    background-color:#F03D3E;
    color: white;
    padding:7px 20px;
    border: none;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
}

Button:hover {
    background-color: #b82324;
} */

.Status{
    margin:20px 0px 15px 0px;
}

.Status p{
    font-size: 16px;
    font-weight: bold;
}
